.App{

    width: 40%;
    margin: 100px auto;
    height: 250px;
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
}

.num-steps-container{

    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
.step{
    border-radius: 50%;
    padding: 8px 13px;
 background-color: gray;
    color: white;
}

.active{
    background-color: #7950f2;
}

.step-info{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.btn-container{

    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
}

button {
    background-color: #7950f2;
    color: white;
    border: transparent;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.close-btn {
    position: relative;
 left: 1100px;
top : 80px ; 
    cursor: pointer;
}